{% extends 'main.html' %}
<!-- Exhibit Page -->
<!-- Tia          -->
<!-- 04-09-24     -->

{% block content%}
<h1>{{exhibit.name}}</h1>
<img src="{{ exhibit.img.url }}" style="max-width: 100%; max-height: 500px; height: auto;">
<p>{{exhibit.description}}</p>

<p>If your child likes this exhibit:</p>
<p style="margin-left: 25px;">
    Try this at home: {{exhibit.home_sugg}}
    <br>
    Check this out: {{exhibit.outdoor_sugg}}
</p>


<div>
    
</div>
<br />
<div>
    <form method="POST" action="{% url 'send-data' %}">
        {%csrf_token%}
        {{form.as_p}}
        <input type="submit" value="Submit" />
    </form>
</div>
<br />
<div>
    <h3>Types of Play</h3> <a href="{% url 'play-info' %}">(Learn More)</a>
    <hr>

    {% for play in play %}
        <div>
            <p><b>{{play.name}}: </b>{{play.description}}</p>

    {% endfor %}    

</div>
{% endblock content %}
