<div class="dock">
    <a class="icon-button" onclick="navigateToMap()"><img src="https://github.com/glazer-host/glazer-file-host/blob/main/static/images/dock/icon_map_white.png?raw=true" alt="Map"></a>
    <button class="icon-button" onclick="navigateHome()"><img src="https://github.com/glazer-host/glazer-file-host/blob/main/static/images/dock/icon_home_white.png?raw=true" alt="Home"></button>
    <button class="icon-button" onclick="showSettingsPopup()"><img src="https://github.com/glazer-host/glazer-file-host/blob/main/static/images/dock/icon_settings_white.png?raw=true" alt="Settings"></button>
</div>

<!-- Popup window for settings -->
<div id="settingsPopup" class="popup" style="display:none;">
    <div class="popup-content">
        <span class="close" onclick="closeSettingsPopup()">&times;</span>
        <h2>Settings</h2>
        <!-- Add settings options here -->
        <a href="{% url 'admin:index' %}" class="icon-button">Admin</a>
    </div>
</div>

<!-- Additional styling for the popup -->
<style>
.popup { position: fixed; top: 0; bottom: 0; left: 0; right: 0; background: rgba(0,0,0,0.5); display: flex; justify-content: center; align-items: center; z-index: 999;}
.popup-content { background: white; padding: 20px; border-radius: 5px; width: 300px; position: relative; z-index: 999; }
.close { position: absolute; top: 10px; right: 15px; cursor: pointer; }
/* dock.css */
.dock {
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
    position: fixed;
    bottom: -1px;
    width: 100.2%;
    background-color: #65308e;
    padding: 0px 0;
    display: flex;
    justify-content: center;
    border-radius: 10px 10px 0 0;
    box-sizing: border-box;
    z-index: 1000;
}
.dock .icon-button {
    font-size: 14px;
    background-color: transparent;
    flex: 0.8;
    padding: 10px 8px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none; /* Add this line */
}
.dock img {
    width: 30px;
    height: auto;
}
.settings-popup {
    display: none;
    position: absolute;
    right: 10px; /* Adjust based on your layout */
    bottom: 60px; /* Adjust based on your layout */
    z-index: 999;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 8px;
    padding: 10px;
    width: 200px; /* Adjust based on your content */
}

.settings-popup ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.settings-popup ul li {
    padding: 10px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

.settings-popup ul li:last-child {
    border-bottom: none;
}

/* Animation for fading in, now faster */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.fade-in {
    animation: fadeIn 0.3s;
}

/* Updated animation for fading out, now faster */
@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

.fade-out {
    animation: fadeOut 0.3s forwards; /* Adjusted to 0.3s for faster animation */
}

.language-dropdown {
    margin-top: 5px;
}

.setting-item {
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    .dock .icon-button {
        padding: 15px 6px;
    }
}

</style>

<script>
    function navigateHome() {
        window.location.href = '/';
    }
    function navigateToMap() {
        window.location.href = 'https://glazermuseum.org/wp-content/uploads/2024/01/2024-Map.pdf';
    }
    // Function to show the settings popup
    function showSettingsPopup() {
        document.getElementById('settingsPopup').style.display = 'flex';
    }
    // Function to close the settings popup
    function closeSettingsPopup() {
        document.getElementById('settingsPopup').style.display = 'none';
    }
</script>
