<footer id="main-footer">
    <br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br /><br /><br />

    <div class="footer-container">
        <div id="footer-widgets" class="clearfix">
            <div class="footer-widget">
                <div id="custom_html-3" class="widget_text widget fwidget et_pb_widget widget_custom_html">
                    <div class="textwidget custom-html-widget">
                        <span style="font-size: 16px; font-weight: bold;">
                            <a href="https://glazermuseum.org/visit">Plan Your Visit</a> | 
                            <a href="https://glazermuseum.org/contact">Contact</a> | 
                            <a href="https://glazermuseum.org/news">News</a> | 
                            <a href="https://glazermuseum.org/visit/#hours">Hours of Operation</a> |
                            <a href="/admin">Admin</a>
                        </span>
                        <br>
                        <span style="font-size: 16px;">
                            Glazer Children’s Museum | 110 W Gasparilla Plaza, Tampa FL 33602 | 813 443 3861
                            <br>
                            Copyright &copy; <span id="copyright-year">2024</span> | All rights reserved |
                        </span>
                    </div>
                </div>
            </div> <!-- end .footer-widget -->
        </div> <!-- #footer-widgets -->
    </div> <!-- .footer-container -->
    <div id="footer-bottom">
        <div class="container clearfix">
            <ul id="et-social-icons"></ul>
        </div> <!-- .container -->
    </div>
</footer>
<script>
document.addEventListener('DOMContentLoaded', (event) => {
    const yearSpan = document.getElementById('copyright-year');
    const currentYear = new Date().getFullYear();
    yearSpan.textContent = currentYear;
});
</script>

<style>
    .footer-container {

    background-color: #2383c6; /* Footer background color */
    color: white; /* Footer text color */
    text-align: center; /* Center-align the text */
    padding: 20px; /* Add padding for internal spacing */
    height: 175px; /* Set a specific height for the footer */
    box-sizing: border-box; /* Ensure padding is included in the height calculation */
}
/* Target links within the #main-footer ID */
#main-footer a,
#main-footer a:hover,
#main-footer a:focus,
#main-footer a:visited {
  color: white; /* Changes link color to white */
  text-decoration: none; /* Optional: Removes underline from links */
}

</style>
