{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Glazer Museum</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://drive.google.com/uc?id=1RGbq-ZC7nA59Sd1U_cSz-K6f6xam2UIW">
    <link rel="stylesheet" type="text/css" href="https://drive.google.com/uc?id=1GW4j_RTnCIDCxwCt3byNfxQUVFAtF8aA">
    <link rel="stylesheet" type="text/css" href="https://drive.google.com/uc?id=1SxEYptpy4E4vTNYFEjOSJzP8F-IP6USD">
    <link rel="stylesheet" type="text/css" href="https://drive.google.com/uc?id=1CKnwy4R8qlHdf8doBmfQcRnwmQPWjzqT">
</head>
<body>
    <div class="main-container"> <!-- Start main container -->
        {% include 'navbar.html' %}
        {% include 'bottomBar.html' %}
        {% block content %}
        <!-- Your main content goes here -->
        {% endblock %}
    </div> <!-- End main container -->
</body>
<footer>
    {% include 'footer.html' %}
</footer>
</html>

<style>
    body {
    margin: 0;
    background: #c5efff;
}
</style>
